In [ ]:
!pip install --upgrade gdown

!gdown 1s2TkjSpzNc4SyxqRrQleZyDIHlc7bxnd
!gdown 1Ws-_s1fHZ9nHfGLVUQurbHDvStePlEJm

Requirement already satisfied: gdown in /usr/local/lib/python3.10/dist-packages (5.2.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from gdown) (4.12.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from gdown) (3.16.1)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.10/dist-packages (from gdown) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from gdown) (4.66.5)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->gdown) (2.6)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2024.8.30)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (1.7.1)
Downloading...
From: https://drive.google.com/uc?id=1s2TkjSpzNc4SyxqRrQleZyDIHlc7bxnd
To: /content/movies.csv
100% 112k/112k [00:00<00:00, 7.95MB/s]
Downloading...
From: https://drive.google.com/uc?id=1Ws-_s1fHZ9nHfGLVUQurbHDvStePlEJm
To: /content/directors.csv
100% 65.4k/65.4k [00:00<00:00, 5.57MB/s]

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
movies = pd.read_csv('movies.csv')

In [ ]:
movies.head()

,Unnamed: 0,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday
1,1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday
2,2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday
3,3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday
4,5,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday

In [ ]:
movies = pd.read_csv('movies.csv', index_col=0)

movies.head()

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday
5,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday

In [ ]:
movies['director_id'].nunique()

199

In [ ]:
movies.shape

(1465, 11)

In [ ]:
directors = pd.read_csv('directors.csv',index_col=0)

directors.head()

       director_name    id gender
0      James Cameron  4762   Male
1     Gore Verbinski  4763   Male
2         Sam Mendes  4764   Male
3  Christopher Nolan  4765   Male
4     Andrew Stanton  4766   Male

In [ ]:
directors['id'].nunique()

2349

In [ ]:
boolean = movies['director_id'].isin(directors['id'])

In [ ]:
np.all(boolean)

True

In [ ]:
data = movies.merge(directors, how = 'left',left_on = 'director_id', right_on = 'id' )

In [ ]:
data

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male
1461,48370,27000,19,3151130,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,Male
1462,48375,0,7,0,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,Male
1463,48376,0,3,0,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,Male
1464,48395,220000,14,2040920,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,NaN

In [ ]:
data.drop(['director_id','id_y'],axis=1, inplace = True)

In [ ]:
def encode(data):
  if data == "Male":
    return 0
  else:
    return 1

In [ ]:
data['gender'] = data['gender'].apply(encode)

In [ ]:
data

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,0
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,0
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,0
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,0
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,0
1461,48370,27000,19,3151130,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,0
1462,48375,0,7,0,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,0
1463,48376,0,3,0,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,0
1464,48395,220000,14,2040920,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,1

In [ ]:
data[['revenue', 'budget']]

         revenue     budget
0     2787965087  237000000
1      961000000  300000000
2      880674609  245000000
3     1084939099  250000000
4      890871626  258000000
...          ...        ...
1460      321952          0
1461     3151130      27000
1462           0          0
1463           0          0
1464     2040920     220000

[1465 rows x 2 columns]

In [ ]:
data[['revenue', 'budget']].apply(np.sum)

revenue    209866997305
budget      70353617179
dtype: int64

In [ ]:
def prof(rohit):
  return rohit['revenue'] - rohit['budget']

In [ ]:
data[['revenue', 'budget']]

         revenue     budget
0     2787965087  237000000
1      961000000  300000000
2      880674609  245000000
3     1084939099  250000000
4      890871626  258000000
...          ...        ...
1460      321952          0
1461     3151130      27000
1462           0          0
1463           0          0
1464     2040920     220000

[1465 rows x 2 columns]

In [ ]:
data.apply(prof, axis = 1)

0       2550965087
1        661000000
2        635674609
3        834939099
4        632871626
           ...
1460        321952
1461       3124130
1462             0
1463             0
1464       1820920
Length: 1465, dtype: int64

In [ ]:
data['profit'] = data[['revenue', 'budget']].apply(prof, axis = 1)

In [ ]:
data

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,profit
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,0,2550965087
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,0,661000000
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,0,635674609
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,0,834939099
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,0,632871626
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,0,321952
1461,48370,27000,19,3151130,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,0,3124130
1462,48375,0,7,0,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,0,0
1463,48376,0,3,0,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,0,0
1464,48395,220000,14,2040920,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,1,1820920

In [ ]:
data[data['director_name'] == "Gore Verbinski"]

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,profit
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,0,661000000
8,43609,200000000,145,1065659812,Pirates of the Caribbean: Dead Man's Chest,7.0,5246,2006,Jun,Tuesday,Gore Verbinski,0,865659812
9,43610,255000000,49,89289910,The Lone Ranger,5.9,2311,2013,Jul,Wednesday,Gore Verbinski,0,-165710090
107,43775,135000000,29,245724603,Rango,6.6,2051,2011,Mar,Wednesday,Gore Verbinski,0,110724603
119,43796,140000000,271,655011224,Pirates of the Caribbean: The Curse of the Bla...,7.5,6985,2003,Jul,Wednesday,Gore Verbinski,0,515011224
633,44780,57000000,21,147845033,The Mexican,5.8,441,2001,Mar,Thursday,Gore Verbinski,0,90845033
1040,45801,20000000,14,12482775,The Weather Man,6.0,289,2005,Oct,Thursday,Gore Verbinski,0,-7517225

In [ ]:
data.groupby('director_name')

In [ ]:
data.groupby('director_name').ngroups

199

In [ ]:
data.groupby('director_name').groups

{'Adam McKay': [176, 323, 366, 505, 839, 916], 'Adam Shankman': [265, 300, 350, 404, 458, 843, 999, 1231], 'Alejandro Gonzlez Irritu': [106, 749, 1015, 1034, 1077, 1405], 'Alex Proyas': [95, 159, 514, 671, 873], 'Alexander Payne': [793, 1006, 1101, 1211, 1281], 'Andrew Adamson': [11, 43, 328, 501, 947], 'Andrew Niccol': [533, 603, 701, 722, 1439], 'Andrzej Bartkowiak': [349, 549, 754, 911, 924], 'Andy Fickman': [517, 681, 909, 926, 973, 1023], 'Andy Tennant': [314, 320, 464, 593, 676, 885], 'Ang Lee': [99, 134, 748, 840, 1089, 1110, 1132, 1184], 'Anne Fletcher': [610, 650, 736, 789, 1206], 'Antoine Fuqua': [310, 338, 424, 467, 576, 808, 818, 1105], 'Atom Egoyan': [946, 1128, 1164, 1194, 1347, 1416], 'Barry Levinson': [313, 319, 471, 594, 878, 898, 1013, 1037, 1082, 1143, 1185, 1345, 1378], 'Barry Sonnenfeld': [13, 48, 90, 205, 591, 778, 783], 'Ben Stiller': [209, 212, 547, 562, 850], 'Bill Condon': [102, 307, 902, 1233, 1381], 'Bobby Farrelly': [352, 356, 481, 498, 624, 630, 654, 806, 928, 972, 1111], 'Brad Anderson': [1163, 1197, 1350, 1419, 1430], 'Brett Ratner': [24, 39, 188, 207, 238, 292, 405, 456, 920], 'Brian De Palma': [228, 255, 318, 439, 747, 905, 919, 1088, 1232, 1261, 1317, 1354], 'Brian Helgeland': [512, 607, 623, 742, 933], 'Brian Levant': [418, 449, 568, 761, 860, 1003], 'Brian Robbins': [416, 441, 669, 962, 988, 1115], 'Bryan Singer': [6, 32, 33, 44, 122, 216, 297, 1326], 'Cameron Crowe': [335, 434, 488, 503, 513, 698], 'Catherine Hardwicke': [602, 695, 724, 937, 1406, 1412], 'Chris Columbus': [117, 167, 204, 218, 229, 509, 656, 897, 996, 1086, 1129], 'Chris Weitz': [17, 500, 794, 869, 1202, 1267], 'Christopher Nolan': [3, 45, 58, 59, 74, 565, 641, 1341], 'Chuck Russell': [177, 410, 657, 1069, 1097, 1339], 'Clint Eastwood': [369, 426, 447, 482, 490, 520, 530, 535, 645, 727, 731, 786, 787, 899, 974, 986, 1167, 1190, 1313], 'Curtis Hanson': [494, 579, 606, 711, 733, 1057, 1310], 'Danny Boyle': [527, 668, 1083, 1085, 1126, 1168, 1287, 1385], 'Darren Aronofsky': [113, 751, 1187, 1328, 1363, 1458], 'Darren Lynn Bousman': [1241, 1243, 1283, 1338, 1440], 'David Ayer': [50, 273, 741, 1024, 1146, 1407], 'David Cronenberg': [541, 767, 994, 1055, 1254, 1268, 1334], 'David Fincher': [62, 213, 253, 383, 398, 478, 522, 555, 618, 785], 'David Gordon Green': [543, 862, 884, 927, 1376, 1418, 1432, 1459], 'David Koepp': [443, 644, 735, 1041, 1209], 'David Lynch': [583, 1161, 1264, 1340, 1456], 'David O. Russell': [422, 556, 609, 896, 982, 989, 1229, 1304], 'David R. Ellis': [582, 634, 756, 888, 934], 'David Zucker': [569, 619, 965, 1052, 1175], 'Dennis Dugan': [217, 260, 267, 293, 303, 718, 780, 977, 1247], 'Donald Petrie': [427, 507, 570, 649, 858, 894, 1106, 1331], 'Doug Liman': [52, 148, 251, 399, 544, 1318, 1451], 'Edward Zwick': [92, 182, 346, 566, 791, 819, 825], 'F. Gary Gray': [308, 402, 491, 523, 697, 833, 1272, 1380], 'Francis Ford Coppola': [487, 559, 622, 646, 772, 1076, 1155, 1253, 1312], 'Francis Lawrence': [63, 72, 109, 120, 679], 'Frank Coraci': [157, 249, 275, 451, 577, 599, 963], 'Frank Oz': [193, 355, 473, 580, 712, 813, 987], 'Garry Marshall': [329, 496, 528, 571, 784, 893, 1029, 1169], 'Gary Fleder': [518, 667, 689, 867, 981, 1165], 'Gary Winick': [258, 797, 798, 804, 1454], 'Gavin O'Connor': [820, 841, 939, 953, 1444], 'George A. Romero': [250, 1066, 1096, 1278, 1367, 1396], 'George Clooney': [343, 450, 831, 966, 1302], 'George Miller': [78, 103, 233, 287, 1250, 1403, 1450], 'Gore Verbinski': [1, 8, 9, 107, 119, 633, 1040], 'Guillermo del Toro': [35, 252, 419, 486, 1118], 'Gus Van Sant': [595, 1018, 1027, 1159, 1240, 1311, 1398], 'Guy Ritchie': [124, 215, 312, 1093, 1225, 1269, 1420], 'Harold Ramis': [425, 431, 558, 586, 788, 1137, 1166, 1325], 'Ivan Reitman': [274, 643, 816, 883, 910, 935, 1134, 1242], 'James Cameron': [0, 19, 170, 173, 344, 1100, 1320], 'James Ivory': [1125, 1152, 1180, 1291, 1293, 1390, 1397], 'James Mangold': [140, 141, 557, 560, 829, 845, 958, 1145], 'James Wan': [30, 617, 1002, 1047, 1337, 1417, 1424], 'Jan de Bont': [155, 224, 231, 270, 781], 'Jason Friedberg': [812, 1010, 1012, 1014, 1036], 'Jason Reitman': [792, 1092, 1213, 1295, 1299], 'Jaume Collet-Serra': [516, 540, 640, 725, 1011, 1189], 'Jay Roach': [195, 359, 389, 397, 461, 703, 859, 1072], 'Jean-Pierre Jeunet': [423, 485, 605, 664, 765], 'Joe Dante': [284, 525, 638, 1226, 1298, 1428], 'Joe Wright': [85, 432, 553, 803, 814, 855], 'Joel Coen': [428, 670, 691, 707, 721, 889, 906, 980, 1157, 1238, 1305], 'Joel Schumacher': [128, 184, 348, 484, 572, 614, 652, 764, 876, 886, 1108, 1230, 1280], 'John Carpenter': [537, 663, 686, 861, 938, 1028, 1080, 1102, 1329, 1371], 'John Glen': [601, 642, 801, 847, 864], 'John Landis': [524, 868, 1276, 1384, 1435], 'John Madden': [457, 882, 1020, 1249, 1257], 'John McTiernan': [127, 214, 244, 351, 534, 563, 648, 782, 838, 1074], 'John Singleton': [294, 489, 732, 796, 1120, 1173, 1316], 'John Whitesell': [499, 632, 763, 1119, 1148], 'John Woo': [131, 142, 264, 371, 420, 675, 1182], 'Jon Favreau': [46, 54, 55, 382, 759, 1346], 'Jon M. Chu': [100, 225, 810, 1099, 1186], 'Jon Turteltaub': [64, 180, 372, 480, 760, 846, 1171], 'Jonathan Demme': [277, 493, 1000, 1123, 1215], 'Jonathan Liebesman': [81, 143, 339, 1117, 1301], 'Judd Apatow': [321, 710, 717, 865, 881], 'Justin Lin': [38, 123, 246, 1437, 1447], 'Kenneth Branagh': [80, 197, 421, 879, 1094, 1277, 1288], 'Kenny Ortega': [412, 852, 1228, 1315, 1365], 'Kevin Reynolds': [53, 502, 639, 1019, 1059], ...}

In [ ]:
data.groupby('director_name').get_group("Kenneth Branagh")

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,profit
80,43726,150000000,86,449326618,Thor,6.6,6525,2011,Apr,Thursday,Kenneth Branagh,0,299326618
197,43923,95000000,101,543514353,Cinderella,6.7,2374,2015,Mar,Thursday,Kenneth Branagh,0,448514353
421,44334,60000000,42,50549107,Jack Ryan: Shadow Recruit,5.9,1173,2014,Jan,Wednesday,Kenneth Branagh,0,-9450893
879,45373,0,0,0,The Magic Flute,6.9,6,2006,Sep,Thursday,Kenneth Branagh,0,0
1094,45970,0,9,0,Hamlet,7.3,117,1996,Dec,Wednesday,Kenneth Branagh,0,0
1277,46774,9000000,4,0,Henry V,7.4,71,1989,Oct,Thursday,Kenneth Branagh,0,-9000000
1288,46847,8000000,10,0,Much Ado About Nothing,7.2,189,1993,May,Friday,Kenneth Branagh,0,-8000000

In [ ]:
data.groupby('director_name')['title'].count()

director_name
Adam McKay                      6
Adam Shankman                   8
Alejandro Gonzlez Irritu     6
Alex Proyas                     5
Alexander Payne                 5
                               ..
Wes Craven                     10
Wolfgang Petersen               7
Woody Allen                    18
Zack Snyder                     7
Zhang Yimou                     6
Name: title, Length: 199, dtype: int64

In [ ]:
data.groupby(['director_name'])['year'].aggregate(['min', 'max']).reset_index()

                   director_name   min   max
0                     Adam McKay  2004  2015
1                  Adam Shankman  2001  2012
2    Alejandro Gonzlez Irritu  2000  2015
3                    Alex Proyas  1994  2016
4                Alexander Payne  1999  2013
..                           ...   ...   ...
194                   Wes Craven  1984  2011
195            Wolfgang Petersen  1981  2006
196                  Woody Allen  1977  2013
197                  Zack Snyder  2004  2016
198                  Zhang Yimou  2002  2014

[199 rows x 3 columns]

In [ ]:
data_dir_budget  = data.groupby("director_name")["budget"].max().reset_index()

In [ ]:
data_dir_budget

                   director_name     budget
0                     Adam McKay  100000000
1                  Adam Shankman   80000000
2    Alejandro Gonzlez Irritu  135000000
3                    Alex Proyas  140000000
4                Alexander Payne   30000000
..                           ...        ...
194                   Wes Craven   40000000
195            Wolfgang Petersen  175000000
196                  Woody Allen   30000000
197                  Zack Snyder  250000000
198                  Zhang Yimou   94000000

[199 rows x 2 columns]

In [ ]:
names = data_dir_budget.loc[data_dir_budget["budget"]>100000000]['director_name']

In [ ]:
names

2      Alejandro Gonzlez Irritu
3                      Alex Proyas
5                   Andrew Adamson
10                         Ang Lee
15                Barry Sonnenfeld
                  ...
185                      Tim Story
187                    Tom Shadyac
188                     Tom Tykwer
195              Wolfgang Petersen
197                    Zack Snyder
Name: director_name, Length: 79, dtype: object

In [ ]:
data.loc[data["director_name"].isin(names)]

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,profit
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,0,2550965087
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,0,661000000
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,0,635674609
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,0,834939099
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,0,632871626
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1450,48267,400000,33,100000000,Mad Max,6.6,1213,1979,Apr,Thursday,George Miller,0,99600000
1451,48268,200000,13,4505922,Swingers,6.8,253,1996,Oct,Friday,Doug Liman,0,4305922
1452,48274,0,5,2611555,Three,6.3,31,2010,Dec,Thursday,Tom Tykwer,0,2611555
1458,48335,60000,27,3221152,Pi,7.1,586,1998,Jul,Friday,Darren Aronofsky,0,3161152
1460,48363,0,3,321952,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,0,321952

In [ ]:
data.groupby('director_name').filter(lambda x: x["budget"].max() >= 100000000)

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,profit
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,0,2550965087
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,0,661000000
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,0,635674609
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,0,834939099
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,0,632871626
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1450,48267,400000,33,100000000,Mad Max,6.6,1213,1979,Apr,Thursday,George Miller,0,99600000
1451,48268,200000,13,4505922,Swingers,6.8,253,1996,Oct,Friday,Doug Liman,0,4305922
1452,48274,0,5,2611555,Three,6.3,31,2010,Dec,Thursday,Tom Tykwer,0,2611555
1458,48335,60000,27,3221152,Pi,7.1,586,1998,Jul,Friday,Darren Aronofsky,0,3161152
1460,48363,0,3,321952,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,0,321952

In [ ]:
data[data.director_name == "Tom Tykwer"]

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,profit
186,43898,102000000,73,130482868,Cloud Atlas,6.6,2977,2012,Oct,Friday,Tom Tykwer,0,28482868
388,44269,50000000,42,132180323,Perfume: The Story of a Murderer,7.1,1165,2006,Sep,Wednesday,Tom Tykwer,0,82180323
536,44572,50000000,13,60161391,The International,6.0,368,2009,Feb,Tuesday,Tom Tykwer,0,10161391
1415,47786,1530000,27,7267585,Run Lola Run,7.2,664,1998,Aug,Thursday,Tom Tykwer,0,5737585
1452,48274,0,5,2611555,Three,6.3,31,2010,Dec,Thursday,Tom Tykwer,0,2611555

In [ ]:
# Let's say, we want to filter the risky movies whose budget was even higher than the average revenue of the director from all his  other movies.

In [ ]:
def func(x):
  x['risky'] = x['budget'] - x['revenue'].mean() >= 0
  return x

In [ ]:
data.groupby("director_name").apply(func)

<ipython-input-67-105270d5d7f7>:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data.groupby("director_name").apply(func)

                     id_x     budget  popularity    revenue  \
director_name
Adam McKay    176   43882  100000000          24  170432927
              323   44151   72500000          12  162966177
              366   44236   65000000          22  128107642
              505   44503   50000000          38  173649015
              839   45301   28000000          57  133346506
...                   ...        ...         ...        ...
Zhang Yimou   590   44692        110           9          0
              604   44733   31000000          23  177394432
              1217  46460          0          21   92863945
              1223  46493          0           1          0
              1389  47489          0           6          0

                                                          title  vote_average  \
director_name
Adam McKay    176                                The Other Guys           6.1
              323   Talladega Nights: The Ballad of Ricky Bobby           6.2
              366                                 Step Brothers           6.5
              505             Anchorman 2: The Legend Continues           6.0
              839                                 The Big Short           7.3
...                                                         ...           ...
Zhang Yimou   590                    Curse of the Golden Flower           6.6
              604                                          Hero           7.2
              1217                      House of Flying Daggers           7.1
              1223             A Woman, a Gun and a Noodle Shop           4.8
              1389                                  Coming Home           6.9

                    vote_count  year month        day director_name  gender  \
director_name
Adam McKay    176         1383  2010   Aug     Friday    Adam McKay       0
              323          491  2006   Aug     Friday    Adam McKay       0
              366         1062  2008   Jul     Friday    Adam McKay       0
              505          923  2013   Dec  Wednesday    Adam McKay       0
              839         2607  2015   Dec     Friday    Adam McKay       0
...                        ...   ...   ...        ...           ...     ...
Zhang Yimou   590          203  2006   Dec   Thursday   Zhang Yimou       0
              604          635  2002   Dec   Thursday   Zhang Yimou       0
              1217         439  2004   May  Wednesday   Zhang Yimou       0
              1223          13  2009   Dec     Friday   Zhang Yimou       0
              1389          49  2014   May     Friday   Zhang Yimou       0

                       profit  risky
director_name
Adam McKay    176    70432927  False
              323    90466177  False
              366    63107642  False
              505   123649015  False
              839   105346506  False
...                       ...    ...
Zhang Yimou   590        -110  False
              604   146394432  False
              1217   92863945  False
              1223          0  False
              1389          0  False

[1465 rows x 14 columns]

In [ ]:
data.groupby("director_name", group_keys= True).apply(func).reset_index(drop = True)

<ipython-input-76-d1c9f486bddf>:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data.groupby("director_name", group_keys= True).apply(func).reset_index(drop = True)

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,profit,risky
0,43882,100000000,24,170432927,The Other Guys,6.1,1383,2010,Aug,Friday,Adam McKay,0,70432927,False
1,44151,72500000,12,162966177,Talladega Nights: The Ballad of Ricky Bobby,6.2,491,2006,Aug,Friday,Adam McKay,0,90466177,False
2,44236,65000000,22,128107642,Step Brothers,6.5,1062,2008,Jul,Friday,Adam McKay,0,63107642,False
3,44503,50000000,38,173649015,Anchorman 2: The Legend Continues,6.0,923,2013,Dec,Wednesday,Adam McKay,0,123649015,False
4,45301,28000000,57,133346506,The Big Short,7.3,2607,2015,Dec,Friday,Adam McKay,0,105346506,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,44692,110,9,0,Curse of the Golden Flower,6.6,203,2006,Dec,Thursday,Zhang Yimou,0,-110,False
1461,44733,31000000,23,177394432,Hero,7.2,635,2002,Dec,Thursday,Zhang Yimou,0,146394432,False
1462,46460,0,21,92863945,House of Flying Daggers,7.1,439,2004,May,Wednesday,Zhang Yimou,0,92863945,False
1463,46493,0,1,0,"A Woman, a Gun and a Noodle Shop",4.8,13,2009,Dec,Friday,Zhang Yimou,0,0,False
1464,47489,0,6,0,Coming Home,6.9,49,2014,May,Friday,Zhang Yimou,0,0,False